[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sounddevice = "*"
whisper = "*"
numpy = "*"
wave = "*"
openai-whisper = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.18"
